.cont {
  .top {
    color: #FF9302;
    .logo {
      display: inline-block;
      width: 200px;
      height: 200px;
      background-image: url("../images/ico-header-logo.jpg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .bottom {
    color: #F00000;
  }
}